node_modules/
dist/
.wdit/
.wdyt/
.wdyt-artifacts/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

.coverage
coverage/

package-lock.json
**/package-lock.json
